doctype html
head
    include ../includes/head
    +head
    title= project.name + " | Project 9927 Project"
body
    include ../includes/navbar
    +navbar-include(user)
    h1=project.name
        if project.team_id !== undefined
            a(href=`/team/${teamProject._id}`)=`(${teamProject.name})`