doctype html
head
    script(src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js")
    link(rel="stylesheet", href="/public/stylesheets/projects/project.css")
    include ../includes/head
    +head
    title= project.name + " | Project 9927 Project"
body
    include ../includes/navbar
    +navbar-include(user)
    .container
        .title
            h1(style="text-align: center;")='Project: ' + project.name
                if teamProject !== undefined
                    span(id="team_name")
                        |  (
                        a(href=`/team/${teamProject._id}`)=teamProject.name
                        | )
        .panels
            .panel(id="todo")
                a(href=`./${project._id}/todo`)
                    h1 To Do List
            .panel(id="calendar")
                h1 Calendar
    svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1040 220")
        path(fill="#5F4DEE" fill-opacity="1" d="M0,160L48,170.7C96,181,192,203,288,192C384,181,480,139,576,128C672,117,768,139,864,138.7C960,139,1056,117,1152,96C1248,75,1344,53,1392,42.7L1440,32L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z")
    include ../includes/footer
    +footer()