doctype html
head
    include ../includes/head
    +head
    title= `Public user ${user.display_name}`
    link(rel="stylesheet", href="/public/stylesheets/user/settings.css")
body
    include ../includes/navbar
    +navbar-include(user)

    div(class="container")
        h2= `Display Name: ${user.display_name}`
    div(class="container")
        h2= `Projects: ${user.projects.length === 0 ? "No Projects" : user.projects}`