doctype html
head
    include ../includes/head
    +head
    title=user.display_name + "'s Settings"
    link(rel="stylesheet", href="/public/stylesheets/user/settings.css")
    script(src="/public/js/account_deletion.js")
body
    include ../includes/navbar
    +navbar-include(user)
    .containers
        .spacer
        .container
            h1 Profile
            form(action="javascript:updateAccount()")
                a(id="profile_page" href="/user/" + user.username + "/" ) Profile Page
                label(for="display_name") Display Name
                input(id="display_name" value=user.display_name type="text")
                input(type="submit" value="Update Profile")
        .container
            h1 Account
            form(action="javascript:updateAccount()")
                label(for="email") Email Address
                input(id="email" value=user.email type="email")
                label(for="email_list")= `I consent to receive emails from Project-9927`
                input(id="email_list" checked type="checkbox")
                input(type="submit" value="Update Account")
        .container
            h1 Password
            form(action="javascript:updatePassword()")
                p(id="password_error" style="display: none; color: indianred;") Sorry, we couldn't update your password!
                label(for="current_password") Current Password:
                input(id="current_password" type="password" placeholder="Current password..")
                label(for="new_password") New Password (>6 characters):
                input(id="new_password" type="password" placeholder="New password..")
                label(for="confirm_password") Confirm Password:
                input(id="confirm_password" type="password" placeholder="Confirm password..")
                input(type="submit" value="Update Password")
        .container
            h1 Delete Account
            b
                p(style="color: indianred;") This is PERMANENT! Once done there is NO going back!
            button(onclick="deleteAccount()") Delete Account
        .spacer
        .spacer
    svg(class="header-frame" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 1920 310")
        defs
            style.
                .cls-1 {
                    display: block;
                    fill: #5f4def;
                }
        path(class="cls-1", d="M0,283.054c22.75,12.98,53.1,15.2,70.635,14.808,92.115-2.077,238.3-79.9,354.895-79.938,59.97-.019,106.17,18.059,141.58,34,47.778,21.511,47.778,21.511,90,38.938,28.418,11.731,85.344,26.169,152.992,17.971,68.127-8.255,115.933-34.963,166.492-67.393,37.467-24.032,148.6-112.008,171.753-127.963,27.951-19.26,87.771-81.155,180.71-89.341,72.016-6.343,105.479,12.388,157.434,35.467,69.73,30.976,168.93,92.28,256.514,89.405,100.992-3.315,140.276-41.7,177-64.9V0.24H0V283.054Z")
    include ../includes/footer
    +footer()
script.
    document.getElementById('email_list').checked = #{user.email_list};

    async function updatePassword(){
        const currentPassword = document.getElementById('current_password').value || "";
        const newPassword = document.getElementById('new_password').value || "";
        const confirmPassword = document.getElementById('confirm_password').value || "";

        const checkPassword = await (await fetch('/api/user/checkpassword', {
            method: "GET",
            headers: {
                password: currentPassword
            }
        })).json();
        const change = checkPassword && newPassword === confirmPassword && newPassword.length >= 6;
        if(change){
            await fetch('/api/user/changepassword', {method: "GET", headers: {password: newPassword}})
            location.replace('/');
        } else {
            document.getElementById('password_error').style.display = 'block';
        }
    }

    async function updateAccount(){

    }