doctype html
head
    include ../includes/head
    +head
    title="New Project"
    link(rel="stylesheet", href="public/stylesheets/projects/newproject.css")
body
    include ../includes/navbar
    +navbar-include(user)
    .title
        h1 CREATE A PROJECT
    .video
        video(id="video-style" width="320" height="240" controls)
            source(src="public/newproject.mp4" id='video' type="video/mp4")
            source(src="movie.ogg" type="video/ogg")
            | Your browser does not support the video tag.
    .new_project
        if user === null
            h1(style="text-align: center;") You are not logged in! Please login to make a project!
        else
            form(action="javascript:createProject()")
                h1 CREATE A NEW PROJECT BELOW
                label(for="project_name") Project name:
                input(type="text" id="project_name" placeholder="Project name..")
                label(for="teams") Team:
                select(id="team")
                    option(value="") No team
                    each val in teams
                        option(value=`${val._id}`)=val.name
                input(type="submit" value="Create Project")
    svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320")
        path(fill="#5f4def" fill-opacity="1" d="M0,256L60,240C120,224,240,192,360,202.7C480,213,600,267,720,245.3C840,224,960,128,1080,112C1200,96,1320,160,1380,192L1440,224L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z")
    include ../includes/footer
    +footer()
script.
    async function createProject() {
        const team = document.getElementById('team').value;
        const name = document.getElementById('project_name').value;
        const f = await fetch('/api/newproject', {method: "GET", headers: {team, name}});

        const j = await f.json();
        if (j.id !== undefined) {
            location.replace('/project/' + j.id);
        }
    }