mixin footer()
    link(rel="stylesheet", href="/public/stylesheets/footer.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    .footer
        ul
            li
                a(href="#")
                    span(class="fa fa-twitter")
            li
                a(href="#")
                    span(class="fa fa-youtube")
            li
                a(href="#")
                    span(class="fa fa-instagram")
        p © Copyright 2022 Project 9927 All Rights Reserved.