mixin navbar-include(user)
    link(rel="stylesheet", href="/public/stylesheets/navbar.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    .nav
        a(class="logo" href="/" style="float: left;") Project 9927
        ul.nav_list
            if user !== null
                li.nav_buttons
                    a(class="btn" href="/api/logout") Logout
                li.nav_buttons
                    a(class="btn" href="/profile") Profile
            else
                li.nav_buttons
                    a(class="btn" href="/login") Log in
            li.nav_item
                a(class="nav_link" href="/pricing") Pricing
            li.nav_item
                a(class="nav_link" href="/ideas") AI Idea Generator
            li.nav_item
                a(class="nav_link active" href="/") Home



