label {
    display: block;
}

input[type='submit'], label {
    margin-top: 1rem;
}

.login {
    background-color: #F3F7FD;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    border: 2px solid black;
}

.login .content {
    margin: 60px;
}