.nav {
    font-weight: 600;
    background: #5F4DEE;
    margin: 0;
    height: 60px;
}

.nav .logo {
    margin: 0;
    padding: 20px 50px;
    float: left;
    font-size: 15px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.nav .nav_list {
    margin: 0px;
}

.nav .nav_list li {
    margin: 0;
    display: inline-block;
    padding: 20px 50px;
    float: right;
    font-size: 15px;
    text-transform: uppercase;
}

.nav .nav_list li a {
    color: #D9D3F4;
    text-decoration: none;
}

.active {
    color: #FFFFFF !important;
}

.nav .nav_list li a:hover {
    color: #FFFFFF;
}

.nav .nav_list li .btn {
    padding: 4px 20px;
    border-radius: 50px;
    border: 2px solid white;
    color: white;
    text-decoration: none;
}

.nav .nav_list li .btn:hover {
    background: #FFFFFF;
    color: #5F4DEE;
}