doctype html
head
    include ../includes/head
    +head
    title Idea Generator | Project 9927
    link(rel="stylesheet", href="public/stylesheets/ideas/ideas.css")
body
    include ../includes/navbar
    +navbar-include(user)
    .container
        .title
            h1(style="text-align: center;") Idea Generator
        .idea_generator
            h2 Your AI generated idea will show up here!
            label(for="topics") Topics (separated by ,)
            input(id="topics" type="text")
            p(id="idea")
            button(onclick="generate()") Generate idea
    .spacer
    .spacer
    svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320")
        path(fill="#5f4def" fill-opacity="1" d="M0,64L60,74.7C120,85,240,107,360,138.7C480,171,600,213,720,192C840,171,960,85,1080,58.7C1200,32,1320,64,1380,80L1440,96L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z")
    include ../includes/footer
    +footer()
script.
    async function generate(){
        if(document.getElementById('topics').value == '') return;
        const idea = await (await fetch("/api/idea", {
            method: "GET",
            headers:{
                topics: document.getElementById('topics').value,
            }
        })).json();
        let toAdd = `<a target="_blank" href="https://trends.google.com${idea.random.link}">${idea.random.topic.title}</a>`;
        if(document.getElementById("idea").innerHTML == ''){
            toAdd = 'Ideas: ' + toAdd;
        } else {
            toAdd = ', ' + toAdd;
        }
        document.getElementById("idea").innerHTML += toAdd;
    }