doctype html
html
    head
        include includes/head
        +head
        title Project 9927 | Home Page
    body
        include includes/navbar
        +navbar-include(user)
        block content
            if user === null
                h1="You are not logged in!"
                a(href='/login') Login here!
            else
                h1
                    | Logged in! (
                    a(href="/profile" style="color: ")= `${user.display_name} ${user.verified ? "✔" : ""}`
                    | )
                a(href='/api/logout') Logout here!
