doctype html
head
    title='Login Page'
    link(rel='stylesheet', href='/public/stylesheets/style.css')
    link(rel='stylesheet', href='/public/stylesheets/login.css')

h1='Login below!'
a(href='/signup') If you don't have an account, sign-up here!
div(class="signup")
    form(action='javascript:login()', method='GET')
        p(class="invisible" style="color: indianred;" id="error") Error
        div
            label(for="username") Username:
            input(id='username', value='', type='text')
        div
            label(for="password") Password:
            input(id='password', value='', type='password')
        input(type='submit', value='Login')

script.
    async function login(){
        const info = await fetch('http://localhost:3000/api/login', {
            method: 'GET',
            headers: {
                username: document.getElementById('username').value,
                password: document.getElementById('password').value
            }
        });
        const valid = await info.json();
        if(valid){
            location.replace('/');
        } else {
            const errorText = document.getElementById('error');
            errorText.classList.remove('invisible');
            errorText.classList.add('visible');
            errorText.innerHTML = "Incorrect username or password!";
        }
    }