doctype html
head
    title='Signup Page'
    link(rel='stylesheet', href='/public/stylesheets/style.css')
    link(rel='stylesheet', href='/public/stylesheets/login.css')

h1='Signup below!'
a(href='/login') If you already have an account, login here!
div(class='signup')
    form(action='javascript:signup()', method='GET')
        p(class="invisible" style="color: indianred;" id="error") Error
        div
            label(for="username") Username:
            input(id='username', value='', type='text')
        div
            label(for="password") Password:
            input(id='password', value='', type='password')
        div
            label(for="email") Email:
            input(id='email', value='', type='email')
        div
            label(for="email_list") Would you like to sign up for our email forum?
            input(id='email_list', checked, type='checkbox')
        input(type='submit', value='Login')

script.
    async function signup(){
        const info = await fetch('http://localhost:3000/api/signup', {
            method: 'GET',
            headers: {
                username: document.getElementById('username').value,
                password: document.getElementById('password').value,
                email: document.getElementById('email').value,
                email_list: document.getElementById('email_list').checked,
            }
        });
        const json = await info.json();
        if(json.error){
            const errorText = document.getElementById('error');
            errorText.classList.remove('invisible');
            errorText.classList.add('visible');
            errorText.innerHTML = json.error;
        } else {
            console.log("NO ERROR")
            location.replace('/');
        }
    }